<div class="the-box">
	<h3>Forgot your password?</h3>
	
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= render "users/shared/error_messages", resource: resource %>
	
	  <div class="field">
		<%= f.label :email %><br />
		<%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'box-type'%>
	  </div>
	
	  <div class="actions">
		<%= f.submit "Send me reset password instructions", class: 'sign-btn' %>
	  </div>
	<% end %>

	<div class="links">
	<%= render "users/shared/links" %>
	</div>
</div>